:root {
  --col-primary: #296eb3;
  --col-secondary: #003b81;
  --col-background: #e8e8e8;
  --col-light: #e8e8e8;
  --col-dark: #022f64;

  --col-free: #7dbaff;
  --col-bronze: #b85a24;
  --col-silver: #8a8a8a;
  --col-gold: #e2a922;
}

body {
  font-size: 100%;
  padding: 1em;
  background: var(--col-background);
  font-family: "Noto Sans", sans-serif;
}


.admin {
  border-radius: 4px;
  background: gray;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.4);
  overflow: hidden;
  position: relative;
}
  h2 {
    margin: 0;
    padding: 1rem;
    background: var(--col-primary);
    font-size: 1.2em;
    text-align: center;
    font-weight: normal;
    color: white;
    position: relative;
    }
  .AdminStart {
    padding: 0.2rem 1rem;
    background: linear-gradient(
      45deg,
      var(--col-secondary) 0%,
      var(--col-dark) 100%);
    color: white;
    text-shadow: 0 4px 0 var(--col-dark);
  }
  p {
    padding: 1rem;
  }
 ul {
    list-style: none;
    padding: 0 0 1rem 0;
    margin: 0;
    border-bottom: 1px solid var(--col-primary);
  }
  li {
    padding: 0.8em 1em;
    font-size: 0.9em;
    background: var(--col-light);
  }
  .banner {
    background: linear-gradient(90deg, #33a530 0%, #4eee49 50%, #33a530 100%);
    transform: rotate(-45deg);
    position: absolute;
    z-index: 1;
    padding: 0.5rem 4rem;
    top: 2rem;
    left: -4rem;
    border: 2px solid #91ff69;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
  }

.admin9 h2::after {
  background: var(--col-free);
  background: linear-gradient(
    90deg,
    var(--col-free) 0%,
    white 50%,
    var(--col-free) 100%
  );
}

.admin10 h2::after {
  background: linear-gradient(
    90deg,
    var(--col-bronze) 0%,
    white 50%,
    var(--col-bronze) 100%
  );
}

.admin11 h2::after {
  background: linear-gradient(
    90deg,
    var(--col-silver) 0%,
    white 50%,
    var(--col-silver) 100%
  );
}

.admin12 h2::after {
  background: linear-gradient(
    90deg,
    var(--col-gold) 0%,
    white 50%,
    var(--col-gold) 100%
  );
}
